body {
    background-color: #f4f8ff;
    color: #333333;
    font-family: Arial, sans-serif;
}

a:link {
    color: #0055cc; 
}
a:visited {
    color: #660099; 
}
a:hover {
    color: #ff6600; 
}

hr:nth-of-type(1) { width: 30%; height: 3px; }
hr:nth-of-type(2) { width: 40%; height: 4px; }
hr:nth-of-type(3) { width: 50%; height: 5px; }
hr:nth-of-type(4) { width: 60%; height: 6px; }
hr:nth-of-type(5) { width: 70%; height: 7px; }
hr:nth-of-type(6) { width: 80%; height: 8px; }
